{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ title }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-6 main py-4">
                <h1>Edit Page: {{ title }}</h1>

                <div>
                    {% if message %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endif %}

                    <form method="GET">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="content" class="form-label">Content</label>
                            <textarea class="form-control" id="content" name="content" rows="10"
                                      placeholder="Write page content in markdown">{{ content }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Save</button>
                        {% if error %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
