{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-6 main py-4">
                <p>{{ entry | safe }}</p>
                <form action="{% url 'edit' title %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="title" value="{{ title }}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}